
/*Style body*/
body {
    font-family: 'Palanquin', sans-serif;
}

/*Style .hamburgerMenu */
.hamburgerMenu{
  visibility: hidden;
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background-color: #F15A29;
  text-align: center;
  z-index: 90;
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

/*Style .hamburgerMenu--open in .hamburgerMenu */
.hamburgerMenu--open {
  visibility: visible;
  opacity: 0.5;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/*Style .hamburgerMenu--middle in .hamburgerMenu */
.hamburgerMenu--middle{
  display: table-cell;
  vertical-align: middle;
}

/*Style #haburgerMenuList  in .hamburgerMenu */
#haburgerMenuList {
    list-style-type: none;
}

/*Style #haburgerMenuList > li > a in .hamburgerMenu */
#haburgerMenuList > li > a{
    color: #000;
    font-size: 300%;
}

/*Style .haburgerMenuButton in .hamburgerMenu */
.haburgerMenuButton {
    font-size: 250%;
    color: #000;
    margin-left: 50%;
    margin-bottom: 5%;
}

/*Style section 1*/
.section1{
    text-align: center;
    background-image: url("../assets/backgrounds/landing.jpg");
    background-size: cover;
    padding-bottom: 200px;
    color: white;
}

/*Style i in section 1 */
.hamburgerIcon {
    color: white;
    float: left;
    padding-left: 60px;
    padding-top: 60px;
    padding-right: 0;
}

/*Style #headerSlogan in section 1 */
#headerSlogan {
    padding-top: 15px;
    padding-left: 98px;
    font-family: 'Cinzel', serif;
    font-size: 40px;
}

/*Style boldSlogan in section 1*/
#boldSlogan{
    font-weight: 900;
}

#button{
  padding: 2px 5px;
}

#button > div{
  width: 20px;
  height: 4px;
  background: #333;
  margin: 3px 0px;
  border-radius: 4px;
}

.img{
  background-position: center;
}

.logo{
  text-align: center;
  background-image: url("../assets/backgrounds/landing.jpg" );
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 50px;
  color: white;
  font-size: 30px;
  width: 100%;
}

.logo img{
  background-position: center;
  padding-top: 170px;
}

#bar{
  float:left;
  background-image: url("../img/hamburger.png") 0 0 no-repeat;
}

.section1{
  margin-top: 0px;
  width: 100%;
}

#happyhour{
  text-align: center;
  padding-bottom: 29.5px;
  padding-top: 29.5px;
  color: black;
  font-family: 'Poly', serif;
  font-size: 22px;
  width: 341.5px;

}

#partytime{
  background-color: #F15A29;
  padding-bottom: 29.5px;
  padding-top: 29.5px;
  color: white;
  text-align: center;
  font-family: 'Poly', serif;
  font-size: 22px;
  width: 341.5px;
}

#breakfast{
  background-image: url("../assets/foodtop/breakfast.jpg");
  padding-bottom: 180px;
  color: white;
  font-family: 'Cantarell', sans-serif;
  font-size: 22px;
  text-align: center;
  height: 180px;
  line-height: 180px;
}

#lunch{
  background-image: url("../assets/foodtop/lunch.jpg");
  padding-bottom: 180px;
  color: white;
  font-family: 'Cantarell', sans-serif;
  font-size: 22px;
  text-align: center;
  height: 180px;
  line-height: 180px;

}

#dinner{
  background-image: url("../assets/foodtop/dinner1.jpg");
  background-image: url("../assets/foodtop/dinner2.jpg");
  padding-bottom: 180px;
  color: white;
  font-family: 'Cantarell', sans-serif;
  font-size: 22px;
  text-align: center;
  height: 180px;
  line-height: 180px;
}

#images1{
  border: 5px solid white;
  box-shadow: 0 0 30px#888888;
}

#images10{
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
}

#images11{
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}

#images2{
  float: right;
  border: 5px solid white;
  box-shadow: 0 0 30px#888888;
}

#images20{
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
}

#images21{
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}

#texts2{
  float: left;
}
.section3{
  margin: 100px;
}

/*font-family: 'Roboto', sans-serif;*/
.section4{
  background-image: url("../assets/backgrounds/foodsBg.jpg");
  background-repeat: no-repeat;
  height: 500px;
  padding: 100px 0px;
}

.container{
  padding: 25px;
  background-color: white;
  color: #F15A29;
}

.nav-tabs > li.active > a{
  color: black;
  font-size: 16px;
}

.nav-tabs > li > a{
  color: #F15A29;
}
#firstCarousel > .item > img, #firstCarousel > img > a > img, #firstCarousel > .item > h3 {
  margin:auto;
  text-align: center;
}
.carousel-control.left, .carousel-control.right{
  background-image: none !important;
}
.icon-next, .icon-prev{
  color: #F15A29;
}*/

.section5{
  padding-left: 50px;
  padding-right: 50px;
}

#testimonials{
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 70px;
  padding-top: 70px;
  margin-top: 70px;
  margin-bottom: 70px;
  box-shadow: 0 0 30px #888888;
}
#testimonials h2{
  color: #F15A29;
}
#testimonialColumn{
  border-right: 1px solid black;
}
#testimonialCarousel{
  margin: auto;
  height: 150px;
}
#testimonialCarousel > .item >img, #testimonialCarousel > .item > a{
  margin: auto;
}

/*Padding for section 6*/
.section6 {
    background-image: url("../assets/backgrounds/subscribe.jpg");
    background-size: cover;
    padding-bottom: 200px;
    padding-top: 60px;
    padding-left: 400px;
    color: white;
}

/*Style #subscribeEmail in section 6*/
#subscribeEmail {
    background: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    display: inline-block;
    color: white;
}

/*Style #subscribeButton in section 6*/
#subscribeButton {
    background-color: #F15A29;
    display: inline-block;
    margin-left: 15px;
}

/*Style for section 7*/
.section7{
    padding-top: 25px;
    padding-left: 650px;
    padding-right: 150px;
    background-color: #F15A29;
    color: white;
}

/*Style #menuFooterLogo in section 7*/
#menuFooterLogo {
    float: left;
    padding-right: 10px;
}

/*Style #menuFooterHeader in section 7*/
#menuFooterHeader {
    font-size: 38px;
    font-weight: 700;
}

/*Style #menuFooterSlogan in section 7*/
#menuFooterSlogan {
    font-size: 20px;
    font-weight: 500;

}

/*Style .inline in section 7*/
.inline {
    float: left;
}

/*Style .facebookLogoContainer in section 7 */
.facebookLogoContainer {
    background-image: url("../assets/footerlogos/facebook.png");
    background-repeat: no-repeat;
    padding: 14px 0px;
    padding-right: 30px;
    position: relative;
}

/*Style #facebookLogo in section 7 */
#facebookLogo{
    display: block;
    height: auto;
    width: auto;
    color: #F15A29;
    padding-left: 15px;
}

/*Style .twitterLogoContainer in section 7 */
.twitterLogoContainer {
    background-image: url("../assets/footerlogos/twitter.png");
    background-repeat: no-repeat;
    padding: 14px 0px;
    padding-right: 25px;
    padding-left: 15px;
    position: relative;
}

/*Style #twitterLogo in section 7 */
#twitterLogo{
    display: block;
    height: auto;
    width: auto;
    color: #F15A29;
}

/*Style .pinterestLogoContainer in section 7 */
.pinterestLogoContainer {
    background-image: url("../assets/footerlogos/pinterest.png");
    background-repeat: no-repeat;
    padding: 14px 0px;
    padding-right: 25px;
    position: relative;
}

/*Style #pinterestLogo in section 7 */
#pinterestLogo{
    display: block;
    height: auto;
    width: auto;
    color: #F15A29;
    padding-left: 13px;
}

/*Style #copyright in section 7*/
#copyright{
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 15px;
}

/*Media Query/Web Responsive*/

/*Mobile*/
body, .section1, .section2, #happyHour, #partyTime, #fastFoodsPhotos, #fastFoodsPhoto1, #fastFoodsPhoto2, #drinksPhotos, #drinksPhoto1, #drinksPhoto2, .section4, .section5, .section6, #subscribeEmail, #subscribeForm, #subscribeButton, .section7, footer, #menuFooterSlogan, .twitterLogoContainer{
    width: 100%;
}

/*Mobile*/
@media only screen and (max-width: 425px) {
    .section5 { margin-top: 150px; }
    #testimonialAndAboutRow { padding-left: 0; padding-right: 0; padding-bottom: 10px; }
    #testimonialColumn { border-right: 0; }
    #testimonialCarousel { height: 250px; }
    .section7 { padding-left: 45px; padding-right: 35px; }
}

/*Mobile and Tablet*/
@media only screen and (max-width: 768px) {
    #happyHour { margin-bottom: 10px; }
    .section6 { padding-left: 0; }
    #partyTime { margin-bottom: 10px; }
    #fastFoodsPhotosColumn { padding-bottom: 25px; }
    #subscribeButton { margin-left: 0; }
    #menuFooterHeader { width: 45px; }
    .facebookLogoContainer { padding-right: 40px; }
    .pinterestLogoContainer { padding-right: 40px; }
    #copyright { padding-top: 100px; padding-left: 45px; }
}

/*Between Mobile and Tablet*/
@media only screen and (min-width: 427px) and (max-width: 768px) {
    .section7 { padding-left: 350px; padding-right: 150px; }
}

/*Between Laptop and Laptop L*/
@media only screen and (min-width: 1024px) and (max-width: 1438px) {
    #happyHour { height: 5px; padding-top: 36px; }
    #partyTime { height: 5px; padding-bottom: 45px }
}

/*Laptop L*/
@media only screen and (min-width: 1445px){
    #happyHour { padding: 16.75%; }
    #partyTime { padding: 15.75% }
}

/*Desktop*/
@media only screen and (min-width: 768px) {
    #drinksPhoto1 { width: 45%; }
    #drinksPhoto2 { width: 45%; }
    .section4 { height: 500px; }
    #subscribeEmail { width: 400px; }
    #subscribeButton { width: 235px; }
    .facebookLogoContainer { width: 53px; }
    .twitterLogoContainer { width: 53px; }
    .pinterestLogoContainer { width: 50px;  }
}
