/*body{
  text-align: center;
}*/
.img{
  background-position: center;
}
.logo{
  text-align: center;
  background-image: url("../assets/backgrounds/landing.jpg" );
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 50px;
  color: white;
  font-size: 30px;
  width: 100%;
}
.logo img{
  background-position: center;
  padding-top: 170px;
}

.section1{
  margin-top: 0px;
  width: 100%;
}

#happyhour{
  text-align: center;
  padding-bottom: 25px;
  padding-top: 25px;
  color: black;
}
#partytime{
  background-color: #F15A29;
  padding-bottom: 25px;
  padding-top: 25px;
  color: white;
  text-align: center;
}

#breakfast{
  background-image: url("../assets/foodtop/breakfast.jpg");
  padding-bottom: 170px;
  color: white;
}
#lunch{
  background-image: url("../assets/foodtop/lunch.jpg");
  padding-bottom: 170px;
  color: white;
}
#dinner{
  background-image: url("../assets/foodtop/dinner1.jpg");
  background-image: url("../assets/foodtop/dinner2.jpg");
  padding-bottom: 170px;
  color: white;
}

#images2{
  float: right;
}
#texts2{
  float: left;
}
.section3{
  margin: 100px;
}
