
/*Style body*/
body {
    font-family: 'Palanquin', sans-serif;
}

/*Style .hamburgerMenu */
.hamburgerMenu{
  visibility: hidden;
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background-color: #F15A29;
  text-align: center;
  z-index: 90;
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

/*Style .hamburgerMenu--open in .hamburgerMenu */
.hamburgerMenu--open {
  visibility: visible;
  opacity: 0.5;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/*Style .hamburgerMenu--middle in .hamburgerMenu */
.hamburgerMenu--middle{
  display: table-cell;
  vertical-align: middle;
}

/*Style #haburgerMenuList  in .hamburgerMenu */
#haburgerMenuList {
    list-style-type: none;
}

/*Style #haburgerMenuList > li > a in .hamburgerMenu */
#haburgerMenuList > li > a{
    color: #000;
    font-size: 300%;
}

/*Style .haburgerMenuButton in .hamburgerMenu */
.haburgerMenuButton {
    font-size: 250%;
    color: #000;
    margin-left: 50%;
    margin-bottom: 5%;
}

/*Style section 1*/
.section1{
    text-align: center;
    background-image: url("../assets/backgrounds/landing.jpg");
    background-size: cover;
    padding-bottom: 200px;
    color: white;
}

/*Style i in section 1 */
.hamburgerIcon {
    color: white;
    float: left;
    padding-left: 60px;
    padding-top: 60px;
    padding-right: 0;
}

/*Style #headerSlogan in section 1 */
#headerSlogan {
    padding-top: 15px;
    padding-left: 98px;
    font-family: 'Cinzel', serif;
    font-size: 40px;
}

/*Style boldSlogan in section 1*/
#boldSlogan{
    font-weight: 900;
}

#button{
  padding: 2px 5px;
}

#button > div{
  width: 20px;
  height: 4px;
  background: #333;
  margin: 3px 0px;
  border-radius: 4px;
}

.img{
  background-position: center;
}

.logo{
  text-align: center;
  background-image: url("../assets/backgrounds/landing.jpg" );
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 50px;
  color: white;
  font-size: 30px;
  width: 100%;
}

.logo img{
  background-position: center;
  padding-top: 170px;
}

#bar{
  float:left;
  background-image: url("../img/hamburger.png") 0 0 no-repeat;
}

.section1{
  margin-top: 0px;
  width: 100%;
}

#happyhour{
  text-align: center;
  padding-bottom: 29.5px;
  padding-top: 29.5px;
  color: black;
  font-family: 'Poly', serif;
  font-size: 22px;
  width: 341.5px;

}

#partytime{
  background-color: #F15A29;
  padding-bottom: 29.5px;
  padding-top: 29.5px;
  color: white;
  text-align: center;
  font-family: 'Poly', serif;
  font-size: 22px;
  width: 341.5px;
}

#breakfast{
  background-image: url("../assets/foodtop/breakfast.jpg");
  padding-bottom: 180px;
  color: white;
  font-family: 'Cantarell', sans-serif;
  font-size: 22px;
  text-align: center;
  height: 180px;
  line-height: 180px;
}

#lunch{
  background-image: url("../assets/foodtop/lunch.jpg");
  padding-bottom: 180px;
  color: white;
  font-family: 'Cantarell', sans-serif;
  font-size: 22px;
  text-align: center;
  height: 180px;
  line-height: 180px;

}

#dinner{
  background-image: url("../assets/foodtop/dinner1.jpg");
  background-image: url("../assets/foodtop/dinner2.jpg");
  padding-bottom: 180px;
  color: white;
  font-family: 'Cantarell', sans-serif;
  font-size: 22px;
  text-align: center;
  height: 180px;
  line-height: 180px;
}

#images1{
  border: 5px solid white;
  box-shadow: 0 0 30px#888888;
}

#images10{
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
}

#images11{
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}

#images2{
  float: right;
  border: 5px solid white;
  box-shadow: 0 0 30px#888888;
}

#images20{
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
}

#images21{
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}

#texts2{
  float: left;
}
.section3{
  margin: 100px;
}

/*font-family: 'Roboto', sans-serif;*/
/*.section4{
  background-image: url("../assets/backgrounds/foodsBg.jpg");
  background-repeat: no-repeat;
  height: 500px;
  padding: 100px 0px;
}

.container{
  padding: 25px;
  background-color: white;
  color: #F15A29;
}

.nav-tabs > li.active > a{
  color: black;
  font-size: 16px;
}

.nav-tabs > li > a{
  color: #F15A29;
}
#firstCarousel > .item > img, #firstCarousel > img > a > img, #firstCarousel > .item > h3 {
  margin:auto;
  text-align: center;
}
.carousel-control.left, .carousel-control.right{
  background-image: none !important;
}
.icon-next, .icon-prev{
  color: #F15A29;
}*/

/*.section5{
  padding-left: 50px;
  padding-right: 50px;
}

#testimonials{
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 70px;
  padding-top: 70px;
  margin-top: 70px;
  margin-bottom: 70px;
  box-shadow: 0 0 30px #888888;
}
#testimonials h2{
  color: #F15A29;
}
#testimonialColumn{
  border-right: 1px solid black;
}
#testimonialCarousel{
  margin: auto;
  height: 150px;
}
#testimonialCarousel > .item >img, #testimonialCarousel > .item > a{
  margin: auto;
}*/

.section6{
  background-image: url("../assets/backgrounds/subscribe.jpg");
  padding-bottom: 200px;
  padding-top: 60px;
  padding-left: 400px;
  color: white;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#subscribeEmail{
  background: rgba(0,0,0,0.5);
  width:400px;
  font-size:15px;
  display: inline-block;
  color: white;
}

#subscribeButton{
  width: 235px;
  margin-left: 15px;
  background-color: #F15A29;
  display: inline-block;
}

.section7{
  padding-top: 25px;
  padding-left: 650px;
  padding-right: 150px;
  background-color: #F15A29;
  color:white;
}

#menuFooterLogo{
  float: left;
  padding-right: 10px;
}

#twitterLogo{
  padding-right: 5px;
  padding-left: 5px;
}

#copyright{
  padding-top: 25px;
  padding-bottom: 20px;
}
